In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bose,IT,2022-07-21 03:17:06,45.4612,8.0137,75.29,71,34,4.59
1,1,Rikitea,PF,2022-07-21 03:17:07,-23.1203,-134.9692,73.20,77,0,6.24
2,2,Galveston,US,2022-07-21 03:17:07,29.3669,-94.9669,86.05,81,33,4.00
3,3,Punta Arenas,CL,2022-07-21 03:13:43,-53.1500,-70.9167,30.31,86,20,18.41
4,4,Bethel,US,2022-07-21 03:17:07,41.3712,-73.4140,79.75,78,1,3.96

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
    # circles for the temperature are larger and the gradients show differences
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bose,IT,2022-07-21 03:17:06,45.4612,8.0137,75.29,71,34,4.59
2,2,Galveston,US,2022-07-21 03:17:07,29.3669,-94.9669,86.05,81,33,4.00
4,4,Bethel,US,2022-07-21 03:17:07,41.3712,-73.4140,79.75,78,1,3.96
8,8,Khuzdar,PK,2022-07-21 03:17:08,27.7384,66.6434,78.75,62,80,6.62
9,9,Jamestown,US,2022-07-21 03:16:49,42.0970,-79.2353,78.44,69,100,10.36
10,10,Kirakira,SB,2022-07-21 03:17:09,-10.4544,161.9205,85.05,71,23,8.68
13,13,Kavieng,PG,2022-07-21 03:17:10,-2.5744,150.7967,83.07,75,98,10.71
17,17,Adrar,MR,2022-07-21 03:17:11,20.5022,-10.0711,87.57,34,71,9.26
20,20,Avera,US,2022-07-21 03:15:38,33.1940,-82.5271,77.56,80,100,9.69
22,22,Lubao,PH,2022-07-21 03:17:13,14.9167,120.5500,84.27,68,96,7.45

In [10]:
preferred_cities_df.count()

City_ID       189
City          189
Country       189
Date          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0        Bose      IT     75.29  45.4612    8.0137
2   Galveston      US     86.05  29.3669  -94.9669
4      Bethel      US     79.75  41.3712  -73.4140
8     Khuzdar      PK     78.75  27.7384   66.6434
9   Jamestown      US     78.44  42.0970  -79.2353
10   Kirakira      SB     85.05 -10.4544  161.9205
13    Kavieng      PG     83.07  -2.5744  150.7967
17      Adrar      MR     87.57  20.5022  -10.0711
20      Avera      US     77.56  33.1940  -82.5271
22      Lubao      PH     84.27  14.9167  120.5500

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bose,IT,75.29,45.4612,8.0137,Locanda Borgo Antico
2,Galveston,US,86.05,29.3669,-94.9669,Crystal Suites
4,Bethel,US,79.75,41.3712,-73.4140,Courtyard by Marriott Danbury
8,Khuzdar,PK,78.75,27.7384,66.6434,jhalwan Rent A Car Compny Moola Chotok
9,Jamestown,US,78.44,42.0970,-79.2353,Hampton Inn & Suites Jamestown
10,Kirakira,SB,85.05,-10.4544,161.9205,SanBiz Lodge
13,Kavieng,PG,83.07,-2.5744,150.7967,Nusa Island Retreat
17,Adrar,MR,87.57,20.5022,-10.0711,
20,Avera,US,77.56,33.1940,-82.5271,
22,Lubao,PH,84.27,14.9167,120.5500,Hacienda Gracia

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))