## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lima,PE,-12.0432,-77.0282,60.91,84,75,8.05,broken clouds
1,1,Taoudenni,ML,22.6783,-3.9836,96.98,8,0,15.23,clear sky
2,2,Rikitea,PF,-23.1203,-134.9692,73.18,62,6,4.70,clear sky
3,3,Yellowknife,CA,62.4560,-114.3525,72.12,46,20,17.27,few clouds
4,4,Vaini,TO,-21.2000,-175.2000,75.36,78,40,10.36,scattered clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Vaini,TO,-21.2000,-175.2000,75.36,78,40,10.36,scattered clouds
11,11,Elizabeth City,US,36.2946,-76.2511,79.84,78,39,9.40,scattered clouds
13,13,Santa Marta,CO,11.2408,-74.1990,86.05,66,75,2.30,broken clouds
18,18,Bandarbeyla,SO,9.4942,50.8122,77.09,75,91,26.75,overcast clouds
19,19,Alexandria,EG,31.2156,29.9553,76.96,83,0,8.05,clear sky
20,20,Atuona,PF,-9.8000,-139.0333,77.43,73,43,17.72,scattered clouds
22,22,Bafq,IR,31.6128,55.4107,86.85,15,0,2.17,clear sky
23,23,Kapaa,US,22.0752,-159.3190,85.98,68,40,13.80,scattered clouds
24,24,Progreso,MX,21.2833,-89.6667,78.91,90,100,3.67,overcast clouds
25,25,Puerto El Triunfo,SV,13.2833,-88.5500,83.32,82,97,0.98,overcast clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                234
City                   234
Country                234
Lat                    234
Lng                    234
Max Temp               234
Humidity               234
Cloudiness             234
Wind Speed             234
Current Description    234
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#XX

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
11,Elizabeth City,US,79.84,scattered clouds,36.2946,-76.2511,
13,Santa Marta,CO,86.05,broken clouds,11.2408,-74.1990,
18,Bandarbeyla,SO,77.09,overcast clouds,9.4942,50.8122,
19,Alexandria,EG,76.96,clear sky,31.2156,29.9553,
20,Atuona,PF,77.43,scattered clouds,-9.8000,-139.0333,
22,Bafq,IR,86.85,clear sky,31.6128,55.4107,
23,Kapaa,US,85.98,scattered clouds,22.0752,-159.3190,
24,Progreso,MX,78.91,overcast clouds,21.2833,-89.6667,
25,Puerto El Triunfo,SV,83.32,overcast clouds,13.2833,-88.5500,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Elizabeth City,US,79.84,scattered clouds,36.2946,-76.2511,Hampton Inn Elizabeth City
13,Santa Marta,CO,86.05,broken clouds,11.2408,-74.1990,Hotel La Ballena Azul
18,Bandarbeyla,SO,77.09,overcast clouds,9.4942,50.8122,JABIR HOTEL
19,Alexandria,EG,76.96,clear sky,31.2156,29.9553,Royal Crown Hotel
20,Atuona,PF,77.43,scattered clouds,-9.8000,-139.0333,Villa Enata
22,Bafq,IR,86.85,clear sky,31.6128,55.4107,Alamdar Hotel
23,Kapaa,US,85.98,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Progreso,MX,78.91,overcast clouds,21.2833,-89.6667,Playa Linda Hotel
25,Puerto El Triunfo,SV,83.32,overcast clouds,13.2833,-88.5500,Hotel Jardin

In [13]:
# 7. Check if need to Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   234
Country                234
Max Temp               234
Current Description    234
Lat                    234
Lng                    234
Hotel Name             234
dtype: int64

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# In Step 9, add the city name, the country code, 
# the weather description, and the maximum temperature 
# for the city to the info_box_template format template 
# we have provided.

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
#              dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))